* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #222 !important;
  display: grid;
  place-items: center;
  /* height: 100vh; */
  overflow: scroll;
}
.profilePic {
  text-align: center;
  border: 2px solid burlywood;
}

h1 {
  margin-bottom: 12px;
  text-align: center;
  color: green;
}

.years2Writerup {
  word-spacing: 2px;
  margin: 9px;
  color: aqua;
}

.mydatails {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px;
  color: yellowgreen;
}

.profileCard {
  max-width: 50%;

  background-color: #333;
  border-radius: 10px;
  border: 4px solid yellowgreen;
}

.profileCard::after {
  content: "";
  display: block;
}

.links a {
  margin: 5px 0;
  color: blue;
}

a:hover {
  color: red;
}

.Pmyskills {
  text-align: center;
}

.skill-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 8px;
  margin-top: 16px;
}

.skill {
  padding: 2px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.Containeryears2Writerup {
  padding: 20px;
  background-color: #333;
  color: aqua;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  border: 4px solid green;
}
